section{
  display: inline-block;
  position: relative;
}

.sconto{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: green;
}

.sconto2{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
}

.cuore{
  position: absolute;
  bottom: 0;
  left: 50%;
  padding-bottom: 3px;
  color: red;
  display: none;
}

section:hover .cuore{
  display: inline;
}
